<div class="container">
  <hr>

  <div>
    <h4><%= current_cell.name %>车辆信息：</h4>
    <form action="<%= root_path %>">
      <div class="col-md-4">
        <%= text_field_tag :query, params[:query], placeholder: '输入车牌号', class: 'form-control' %>
      </div>

      <div class="col-md-4 margint-5px">
        <%=submit_tag '查找车牌信息', class: 'btn-default btn' %>
        <%=link_to '新增车牌信息', new_plate_number_path, class: 'btn-primary btn' %>
      </div>

    </form>
    <table class="table table-striped table-overflow">
      <thead>
      <tr>
        <th>车牌号</th>
        <th>电话,姓名,地址</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <% @plant_numbers.each_with_index do |plant_number, i| %>
      <% _contact = @result.detect{|c| c.first == plant_number.contact_id} %>
        <tr>
          <td><%= plant_number.number %></td>
          <td>
            <%= _contact[2] %><br>
            <%= _contact[1] %> <%= _contact[3] %>
          </td>
          <td><%= link_to '编辑', edit_plate_number_path(plant_number), class: 'btn-primary btn' %></td>
        </tr>
      <%end %>
      </tbody>
    </table>
    <%= paginate @plant_numbers%>
  </div>
</div>
</div>